/* -weikit-scrollbar 
 * @description 
 * @scroll_width: scrollbar width
 * @scroll_height: scrollbar height
 * @b-radius: scrollbar border-radius
*/
html,
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-button {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}
.g-bd {
  width: 320px;
  min-width: 320px;
  height: 250px;
  min-height: 250px;
  padding: 25px;
}
.g-bd .m-ipt {
  margin-top: 10%;
}
.g-bd .m-create {
  margin-top: 10px;
}
.g-bd .m-create input[type="button"] {
  font: bold 12px/15px Microsoft Yahei;
  margin-bottom: 15px;
}
.g-bd .m-list {
  display: block;
  max-height: 150px;
  overflow-y: auto;
  margin: 20px auto;
}
.g-bd .u-radio {
  margin: 5px auto;
}
.g-bd .u-radio lable {
  margin-bottom: 0;
}
.g-bd .u-radio span {
  padding-left: 10px;
}
